# dependencies
/node_modules

# next.js
/.next/
/out/

# production
/build

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

scripts/gmail-seeder/node_modules/.package-lock.json
scripts/gmail-seeder/node_modules/dotenv/CHANGELOG.md
scripts/gmail-seeder/node_modules/dotenv/config.d.ts
scripts/gmail-seeder/node_modules/dotenv/config.js
scripts/gmail-seeder/node_modules/dotenv/LICENSE
scripts/gmail-seeder/node_modules/dotenv/package.json
scripts/gmail-seeder/node_modules/dotenv/README-es.md
scripts/gmail-seeder/node_modules/dotenv/README.md
scripts/gmail-seeder/node_modules/dotenv/SECURITY.md
scripts/gmail-seeder/node_modules/dotenv/lib/cli-options.js
scripts/gmail-seeder/node_modules/dotenv/lib/env-options.js
scripts/gmail-seeder/node_modules/dotenv/lib/main.d.ts
scripts/gmail-seeder/node_modules/dotenv/lib/main.js
scripts/gmail-seeder/node_modules/nodemailer/.gitattributes
scripts/gmail-seeder/node_modules/nodemailer/.ncurc.js
scripts/gmail-seeder/node_modules/nodemailer/.prettierrc.js
scripts/gmail-seeder/node_modules/nodemailer/CHANGELOG.md
scripts/gmail-seeder/node_modules/nodemailer/CODE_OF_CONDUCT.md
scripts/gmail-seeder/node_modules/nodemailer/LICENSE
scripts/gmail-seeder/node_modules/nodemailer/package.json
scripts/gmail-seeder/node_modules/nodemailer/README.md
scripts/gmail-seeder/node_modules/nodemailer/SECURITY.txt
scripts/gmail-seeder/node_modules/nodemailer/lib/nodemailer.js
scripts/gmail-seeder/node_modules/nodemailer/lib/addressparser/index.js
scripts/gmail-seeder/node_modules/nodemailer/lib/base64/index.js
scripts/gmail-seeder/node_modules/nodemailer/lib/dkim/index.js
scripts/gmail-seeder/node_modules/nodemailer/lib/dkim/message-parser.js
scripts/gmail-seeder/node_modules/nodemailer/lib/dkim/relaxed-body.js
scripts/gmail-seeder/node_modules/nodemailer/lib/dkim/sign.js
scripts/gmail-seeder/node_modules/nodemailer/lib/fetch/cookies.js
scripts/gmail-seeder/node_modules/nodemailer/lib/fetch/index.js
scripts/gmail-seeder/node_modules/nodemailer/lib/json-transport/index.js
scripts/gmail-seeder/node_modules/nodemailer/lib/mail-composer/index.js
scripts/gmail-seeder/node_modules/nodemailer/lib/mailer/index.js
scripts/gmail-seeder/node_modules/nodemailer/lib/mailer/mail-message.js
scripts/gmail-seeder/node_modules/nodemailer/lib/mime-funcs/index.js
scripts/gmail-seeder/node_modules/nodemailer/lib/mime-funcs/mime-types.js
scripts/gmail-seeder/node_modules/nodemailer/lib/mime-node/index.js
scripts/gmail-seeder/node_modules/nodemailer/lib/mime-node/last-newline.js
scripts/gmail-seeder/node_modules/nodemailer/lib/mime-node/le-unix.js
scripts/gmail-seeder/node_modules/nodemailer/lib/mime-node/le-windows.js
scripts/gmail-seeder/node_modules/nodemailer/lib/punycode/index.js
scripts/gmail-seeder/node_modules/nodemailer/lib/qp/index.js
scripts/gmail-seeder/node_modules/nodemailer/lib/sendmail-transport/index.js
scripts/gmail-seeder/node_modules/nodemailer/lib/ses-transport/index.js
scripts/gmail-seeder/node_modules/nodemailer/lib/shared/index.js
scripts/gmail-seeder/node_modules/nodemailer/lib/smtp-connection/data-stream.js
scripts/gmail-seeder/node_modules/nodemailer/lib/smtp-connection/http-proxy-client.js
scripts/gmail-seeder/node_modules/nodemailer/lib/smtp-connection/index.js
scripts/gmail-seeder/node_modules/nodemailer/lib/smtp-pool/index.js
scripts/gmail-seeder/node_modules/nodemailer/lib/smtp-pool/pool-resource.js
scripts/gmail-seeder/node_modules/nodemailer/lib/smtp-transport/index.js
scripts/gmail-seeder/node_modules/nodemailer/lib/stream-transport/index.js
scripts/gmail-seeder/node_modules/nodemailer/lib/well-known/index.js
scripts/gmail-seeder/node_modules/nodemailer/lib/well-known/services.json
scripts/gmail-seeder/node_modules/nodemailer/lib/xoauth2/index.js
